services:
  app:
    build: .
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html:cached
      - symfony_var:/var/www/html/var
    environment:
      - HOST_UID=${UID:-1000}
      - HOST_GID=${GID:-1000}
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony
    ports:
      - "3307:3306"

volumes:
  symfony_var: {}
