*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*box-shadow: 0 0 1px red;*/
}

:root{
    --primary-color: #2c3e50;
    --primary-color-active: #81a2c6;
    --text-color-white: #fff;

    --nav-height: 50px;
}
